<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
	<testsuites>
		<testsuite name="Phortress Test Suite">
			<directory>./test/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./lib/Phortress/</directory>
		</whitelist>
		<blacklist>
			<directory suffix=".php">./test/Fixture/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>
